<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Biblioteca de Autores</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Lista de Autores</a>
      </li>
      <li class="nav-item" *ngIf="stateUser">
        <a class="nav-link" href="favourites">Favoritos</a>
      </li>
      <li class="nav-item" *ngIf="!stateUser">
        <a class="nav-link" href="loging">Login</a>
      </li>
    </ul>
    <div class="logOut" *ngIf="stateUser" (click)="LogOut()" >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path d="M5 22a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v3h-2V4H6v16h12v-2h2v3a1
        1 0 0 1-1 1H5zm13-6v-3h-7v-2h7V8l5 4-5 4z" stroke="white" stroke-width="2" fill="none"></path>
      </svg>
      <a class="nav-link" >Salir</a>
    </div>

  </div>

</nav>

